@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif;
}

:root{
    --color: orange;

}

.menu_part{
    width: 100%;
    background: #f1f1f1;
}

.gap{
    width: 80%;
    margin: auto
}

.menu_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 a, .menu li a, .login li a{
    text-decoration: none;
    color: #000;
}

.logo h1 a:hover{
    color: var(--color);
  
}

.menu li{
    list-style: none;
}

.login li{
    list-style: none;
}

.menu, .login{
    display: flex;
    
}

.menu li {
    padding: 25px 15px;
}

.menu li a{
    padding: 12px 25px;
    border-radius: 35px;
}

.login li{
    padding: 15px;
}

.menu li a:hover{
    background: var(--color);
    color: #fff;
}

.sing{
    padding: 12px 15px;
    background: var(--color);
    border-radius: 0.5rem;
}

.log_in{
    padding: 12px 15px;
    border: 3px solid var(--color);
    border-radius: .5rem;
}

.hero_part{
    width: 100%;
    padding: 180px 0px 400px;
    background: url(/img/back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero_con{
    width: 70%;

}

.hero_con h1{
    color: var(--color);
    font-size: 55px;
    line-height: 60px;
}

.hero_con p{
    text-align: justify;
    color: var(--color);
    font-weight: 600;
}

.btn{
    padding: 30px 0px;
}

.btn a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    padding: 10px 35px;
    background: var(--color);
}

.btn a:hover{
    background: #000;
    color: #fff;
}

.bg, .service_part{
    width: 100%;
    padding: 150px 0px; 
    background: linear-gradient(orange, #fff);

}

.hed{
    font-size: 35px;
    text-align: center;
    text-decoration: underline 4px solid #000;
}

.service_r1, .service_r2{
    display: flex;
    gap: 25px;
    padding-bottom: 20px;

}

.service_r1 h2, .service_r2 h2{
    text-align: center;
    padding-bottom: 25px;
}

.service_r1 p, .service_r2 p{
    text-align: justify;
}

.service_c, .service_c1{
    padding: 25px; 
    background: #fff;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #555;
}

.service_c:hover{
    background: var(--color);
    color: #fff;
    
}

.service_btn .about_btn{
    text-align: center;
}

.about_part{

}

.about_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.about_con{
    width: 50%;
}

.about_con h2{
    padding-bottom: 20px;
    text-align: center;
}

.about_con p{
    text-align: justify;
}

.about_img{
    width: 50%;
}

.about_img img{
    width: 100%;
}

.login_bar{
    max-width: 300px;
    height: 320px;
    margin: auto;
    background: linear-gradient(#fff, orange);
    border-radius: 15px;
    box-shadow: 5px 5px 5px #555;
    padding: 50px;
}

.login_bar h3{
    text-align: center;
    padding-bottom: 15px;
}    

input[type="text"], 
input[type="password"]{
        width: 100%;
        padding: 4px 0px;
        outline: none;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #000;
}

button{
    width: 50%;
    border: 3px solid #000;
    background-color: transparent;
    font-size: 15px;
    font-weight: 600;
}

button:hover{
    background: #fff;
    border: none;
}

.icon{
    font-family: serif;
}

.footer_part{
    width: 100%;
    background: #000;
    color: #a89c9c;
    padding: 50px 0px 30px;
}

.footer_bar{
    display: flex;
    justify-content: space-between ;
    align-items: baseline;
    gap: 25px;
}

.address, .contract, .social_media{
    width: 40%;
    padding: 10px;
    cursor: default;

}
.contract{
    width: 45%;
}

.copy{
    text-align: center;
}

.copy span{
    font-weight: 800;
    font-size: 18px;
}

.copy span:hover{
    color: var(--color);
    cursor: pointer;
}








